/* ProductButtons.module.css */
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Ensure it stays above other content */
}

/* Button styling */
.customButton {
  background-color: #6CBEC7;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  white-space: nowrap;
  position: relative;
  /* overflow: hidden; */
}

/* Button hover effect */
.customButton:hover {
  background-color: #0057b3c9;
  color: white;
}

/* Focus state for accessibility */
.customButton:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Active button styling with animation */
.activeButton {
  background-color: #1230AE !important;
  color: white;
  animation: slideIn 0.3s ease forwards;
}

/* Animation for active button */
@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .buttonContainer {
    padding: 10px 5px;
  }

  .customButton {
    font-size: 14px;
    padding: 8px 15px;
  }
}

/* Body swipe area */
.bodySwipeArea {
  flex: 1;
  padding: 10px;
  overflow: hidden;
}